body {
  border: 20px solid white;
}
h2 {
  font-size: 15px;
}
.h3 {
  padding-top: 10px;
}
/* //WELCOME */
.well {
  padding: 50px;
  background-color: black;
  background-image: url("../images/wall.jpg");
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#mouse {
  animation: bounce 5s infinite;
  padding-top: 5%;
}

img#mouse-click {
  padding-top: 22px;
  margin-top: 10%;
  padding-bottom: 30px;
}
img {
  vertical-align: middle;
  border-style: none;
}

.text-well {
  padding-top: 14%;
  color: white;
  font-size: 12px;
}

.mouse-icon {
  padding-top: 8%;
}

.text-pad {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* //ABOUT */

.about {
  padding: 30px;
  background-color: white;
  color: black;
  font-size: 15px;
}
/* //SERVICES */
.services {
  padding: 85px;
  background-image: url("../images/lappy.jpg");
  background-repeat: no-repeat;
}

.serve {
  color: white;
  font-size: 15px;
}
/* //WHAT WE DO */
.wwd {
  padding: 50px;
}
.wwd-text {
  font-size: 15px;
}
#magic1,
#magic2,
#magic3 {
  display: none;
}

.toast {
  display: none;
}
/* //TABLE */
.table {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.caption {
  font-size: 12px;
}
/* //PORTFOLIO */
.portfolio {
  align-content: center;
  align-items: center;
  align-self: center;
  padding-bottom: 40px;
}
/* //CONTACT */
.contact {
  padding-top: 35px;
  padding-bottom: 40px;
  background-image: url("../images/machine.jpg");
  background-repeat: no-repeat;
}
.contact-us {
  font-size: 15px;
}
.cont {
  color: white;
  font-size: 12px;
}
.myForm-input {
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
}

form.contact-us {
  background: transparent;
  padding-top: 20px;
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
  margin-bottom: 10px;
  padding: 7px 5px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

#email {
  width: 26%;
  margin-left: 20px;
}
#name {
  width: 26%;
}
.name-input {
  margin-right: 30%;
}
.form-group {
  margin-left: 32%;
}
textarea {
  width: 38%;
  height: 57%;
}
div.contact-btn button {
  padding: 7px 10px;
  width: 150px;
  font-weight: bold;
  transition: border 0.2s;
  font-size: 15px;
}

div.contact-btn button:hover {
  border: 2px solid white;
}
#button {
  background: transparent;
  color: white;
}
/* //FOOTER */

.foot-img {
  margin-bottom: 10px;
}

.footer-imgs img {
  margin: 7px 5px;
}

.footer-msg p {
  font-size: 10pxrem;
}

.footsy {
  padding-top: 30px;
}

::placeholder {
  color: white;
  font-size: 14px;
}
h2 {
  font-size: 30px;
}
